@font-face {
    font-family: custom;
    src: url(../FoundersGroteskCondensed-Bold.ttf);
}
#about{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}
#top{
    width: 100%;
    height: 50vh;
    background-color: rgb(203, 203, 83);
    position: absolute;
    top: 0%;
    overflow:hidden;
    z-index: 9;
    
}
#bottom{
    width: 100%;
    height: 50vh;
    background-color: rgb(72, 72, 17);
    position: absolute;
    bottom: 0;
      overflow:hidden;  
}
#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(5, 5, 5);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
    
}
#about h1{
    font-family: custom;
    font-size: 23vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top-h1{
    top: 100%;
}

#bottom-h1{
    top: 0% ;
}
