#start{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
#start h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12vw;
    color:#ffff;
    font-family: Rubic;
}